YUKIBOT_TELEGRAM_API_ID=123456
YUKIBOT_TELEGRAM_API_HASH=replace-me
YUKIBOT_TELEGRAM_SESSION_PATH=data/yukibot.session
YUKIBOT_DATABASE_URL=
YUKIBOT_LOG_LEVEL=INFO
YUKIBOT_FORWARDER_ALBUM_DELAY=0.8
YUKIBOT_SHUTDOWN_TIMEOUT=15
YUKIBOT_REBUILD_JOIN_MIN_INTERVAL=300
YUKIBOT_REBUILD_JOIN_MAX_INTERVAL=600
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=